/*
    configuration file of the project
*/
#ifndef KESTAR_CONFIG_H
#define KESTAR_CONFIG_H

#ifndef BINANCE_API_KEY
#define BINANCE_API_KEY \
    @BINANCE_API_KEY@
#endif /* BINANCE API KEY*/

#ifndef PROJECT_VERSION
#define PROJECT_VERSION \
    @PROJECT_VERSION@
#endif /* PROJECT VERSION*/

#endif /* KESTAR_CONFIG_H */
